body{
    margin: 0;
    padding: 0;
    font-family: "Nunito" , "Roboto" , "Cabin";
    text-align: center;
    background-image: url(aset/bg.jpg);
    background-size: cover;
    color: white;
}
.com{
    width: 600px;
    height: 200px;
    background-color: rgb(203, 0, 254);
    margin: 0px auto;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.player{
    width: 600px;
    height: 200px;
    background-color: rgb(98, 255, 74);
    margin : 0px auto;
    display: flex;
    box-sizing: border-box;
}
ul{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
li{
    display: flex;
    justify-content: space-between;
}
img{
    width: 130px;
    border-radius: 100px;
}
header{
    font-family: "Cabin";
    font-size: 30px;
    margin: 20px;
}
.info{
    width: 250px;
    height: 40px;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    top: -220px;
    color: black;
    line-height: 40px;
}
.batuPlayer, .guntingPlayer, .kertasPlayer {
    transition: .3s;
    position: relative;
    top:0;
    cursor: pointer;
}
.batuPlayer:hover, .guntingPlayer:hover, .kertasPlayer:hover, .active {
    box-shadow: 0 0 10px 5px limegreen;
}

.batuPlayer:active, .guntingPlayer:active, .kertasPlayer:active {
    top: 2px;
}