:root {
  --primary: #d7ccc8;
  --bg: #010101;
  --cake-pink: #f8bbd0;
  --cake-yellow: #fff4c2;
  --cake-blue: #b2ebf2;
  --cake-mint: #c8e6c9;
  --cake-batter: #f1ddbc;
  --sweet-cake: #f1d5d1;
  --pastel-candy: #ebcad5;
  --pastel-cream: #fffee0;
  --pastel-green: #d6ffd9;
  --pastel-blue: #d2e0f2;
  --pastel-peach: #fbece9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--bg);
  color: #fff;
  /* min-height: 22222px; */
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgb(1, 1, 1, 0.8);
  border-bottom: 1px solid #fff4c254;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2.2rem;
  font-weight: 700;
  font-style: italic;
  color: var(--pastel-green);
}

.navbar .navbar-logo span {
  color: var(--cake-batter);
}

.navbar .navbar-nav a {
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  margin: 0 1.2rem;
}

.navbar .navbar-nav a:hover {
  color: var(--pastel-green);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--cake-yellow);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar .nav-extra a {
  color: #fff;
  margin: 0 0.5rem;
}
.navbar .nav-extra a:hover {
  color: var(--pastel-green);
}
#hamb-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("aset/bg/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 3%,
    rgba(255, 255, 255, 0) 25%
  );
}
.hero .conten {
  max-width: 50%;
  padding: 1rem 7%;
}
.conten h1 {
  font-family: "Caveat";
  font-size: 4.5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1;
}
.conten h1 span:nth-child(1) {
  color: var(--pastel-green);
}
.conten h1 span:nth-child(2) {
  color: var(--cake-batter);
}
.conten p {
  margin: 1rem 0;
  font-size: 1.3rem;
  font-family: "Quicksand";
  line-height: 1.5;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}
.conten .cda {
  margin-top: 1rem;
  padding: 1rem 3rem;
  display: inline-block;
  color: var(--bg);
  background-color: var(--cake-batter);
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  border-radius: 0.5rem;
  font-family: "Quicksand";
  font-size: 1.4rem;
  font-weight: 700;
  position: relative;
}
.conten .cda:hover {
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.655);
}
.conten .cda:active {
  top: 0.1rem;
}

/* About Section */

.about,
.menu,
.kontak {
  padding: 6rem 7% 1.4rem;
}
.about h2,
.menu h2,
.kontak h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #f1ddbc;
}
.about h2 span,
.menu h2 span,
.kontak h2 span {
  color: #d6ffd9;
}
.about .row {
  display: flex;
  height: 100vh;
}
.about .row .about-img {
  flex: 1 1 45rem;
}
.about .row .about-img img {
  width: 100%;
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 90%
  );

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: cover;
  mask-size: cover;
}
.about .row .about-text {
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about .row .about-text h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.about .row .about-text p {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  font-weight: 100;
  line-height: 1.6;
  font-family: "caveat";
}

/*  Menu Section  */
.menu h2 {
  margin-bottom: 0.5rem;
}
.menu p {
  max-width: 40rem;
  text-align: center;
  margin: 0 auto;
  font-weight: 100;
  line-height: 1.2;
  font-family: "caveat";
  font-size: 1.2rem;
}
.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}
.menu .row .card {
  text-align: center;
  flex: 0 0 20%;
  row-gap: 1rem;
  box-sizing: border-box;
  padding-bottom: 1.2rem;
}
.menu .row .card img {
  border-radius: 50%;
  width: 60%;
}
.menu .row .card .menu-card-judul {
  margin: 0.2rem auto 0.2rem;
  font-size: 1rem;
}
.menu .row .card .menu-card-harga {
  margin: 0 auto 1rem;
  font-size: 1rem;
}

/* Kontak Section */
.kontak h2 {
  margin-bottom: 0.5rem;
}
.kontak p {
  max-width: 40rem;
  text-align: center;
  margin: 0 auto;
  font-weight: 100;
  line-height: 1.2;
  font-family: "caveat";
  font-size: 1.2rem;
}
.kontak .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}
.kontak .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
.kontak .row .form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.kontak .row .form .input-grup {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
  background-color: var(--bg);
  border: 0.1rem solid #eee;
  padding-left: 1rem;
}
.kontak .row .form .input-grup input {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  background: none;
  color: #fff;
}
.kontak .row .form .btn {
  margin-top: 2rem;
  display: inline-block;
  padding: 1.2rem 3rem;
  font-size: 1rem;
  background-color: var(--cake-batter);
  border-radius: 0.6rem;
  color: var(--bg);
  font-weight: 700;
  cursor: pointer;
}

/* Footer */
footer {
  margin: 3rem 0 0;
  background-color: var(--cake-batter);
  text-align: center;
  padding: 1rem 0 1.5rem;
  color: var(--bg);
}
footer .sosmed {
  padding: 0.5rem 0;
}
footer .sosmed a {
  color: inherit;
  margin: 1rem;
}
footer .sosmed a:hover {
  color: #fff;
}
footer .link {
  margin-bottom: 0.5rem;
}
footer .link a {
  color: var(--bg);
  padding: 0.7rem 1rem;
  font-weight: 500;
}
footer .link a:hover {
  color: #fff;
}
footer .credit a {
  color: #fff;
  font-weight: 700;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamb-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(36, 34, 34, 0.9);
    width: 30rem;
    height: 100vh;
  }
  .navbar .navbar-nav.aktif {
    right: 0%;
  }
  .navbar .navbar-nav a {
    display: block;
    font-size: 2rem;
    margin: 1.5rem;
    color: #fff;
    padding: 0.5rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
    transition: 0.3s linear;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-text h3 {
    margin-top: 1rem;
  }

  .menu .row .card {
    flex: 0 0 30%;
  }
  .kontak {
    margin-top: 5rem 0 0;
  }
  .kontak .row {
    flex-wrap: wrap;
  }
  .kontak .row .map {
    height: 30rem;
  }
  .kontak .row .form {
    padding-top: 1rem;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  #hamb-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
  }
  .menu .row .card {
    flex: 0 0 100%;
  }
}
